#body{
    width: 100%;
    height: 100%;
    position: relative;
    background-color:#EEE9E9;
}

#header{
    background: linear-gradient(180deg, rgba(187, 205, 229, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-style: solid;
    border-color: #EEE9E9;
    position:absolute;
    width: 1420px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 15px;
    left: 10px;
    top: 2px;
}

#searcheng{
    position: absolute;
    width: 514px;
    height: 34px;
    left: 54px;
    top: 5px;
    background: #EEE9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

#subject{
    position: absolute;
    width: 222px;
    height: 36px;
    left: 644px;
    top: 2px;
    background: linear-gradient(180deg, rgba(187, 205, 229, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #F1EEEE;
    border: 1px solid rgba(0, 0, 0, 0.89);
    box-sizing: border-box;
    border-radius: 10px;
}

#pp{
    position: absolute;
    width: 48px;
    height: 45px;
    left: 890px;
    top: -1px;
}

#username{
    position: absolute;
    top: -1px;
    left: 50px;
    font-size: 24px;
    font-family: "Roboto";
    font-weight: 700;
    width: 546px;
    color: #767676;
}

#level{
    position: absolute;
    color: #767676;
    width: 117px;
    height: 32px;
    left: 50px;
    top: 20px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

#login{
    position: absolute;
    width: 144px;
    height: 38px;
    left: 1179px;
    top: 0px;
    background: rgba(99, 159, 171, 0.52);
    border: 2px solid rgba(28, 93, 153, 0.94);
    box-sizing: border-box;
    border-radius: 40px;
}

#subject2{
    position: absolute;
    width: 222px;
    height: 36px;
    left: 475px;
    top: 150px;
    background: linear-gradient(180deg, rgba(187, 205, 229, 0.17) 0%, rgba(255, 255, 255, 0) 100%), #F1EEEE;
    border: 1px solid rgba(0, 0, 0, 0.89);
    box-sizing: border-box;
    border-radius: 10px;
}

#publicar{
    position: absolute;
    width: 144px;
    height: 38px;
    left: 1350px;
    top: 822px;
    background: rgba(28, 93, 153, 0.94);
    border: 2px solid rgba(16, 71, 173, 0.94);
    box-sizing: border-box;
    border-radius: 40px;
}

#enviar{
    position: absolute;
    width: 144px;
    height: 38px;
    left: 750px;
    top: 820px;
    background: rgba(99, 159, 171, 0.52);
    border: 2px solid rgba(28, 93, 153, 0.94);
    box-sizing: border-box;
    border-radius: 40px;
}

#preview{
    padding-left: 100px;
    padding-right: 20px;
    float: left;
    margin-top: 90px;
    margin-left: 400px;
    width: 60%;
    height: 80%;
    top: 15%;
    left: 25%;
    flex-direction: column;
    display: flex;
    background: rgba(255,255,255,1);
    border: 1px solid rgba(0,0,0,0.15000000596046448);
    border-radius: 10px;
    overflow: hidden;
}

#option{
    font-size: 10px;
    text-align: center;
    font-weight: bolder;
}

#sidemenu{
    position: fixed;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 1%;
    margin-top: 36%;
    border-radius: 5px;
    border-style: solid;
    background-color: ghostwhite;
    border-color: ghostwhite;
}

.hide{
    background-color: ghostwhite;
    border: none;
    width: 100%px;
}

.hide2{
    background-color:transparent;
    border: none;
    width: 100%px;
}

#loguser{
    margin: auto;
    width: 514px;
    height: 54px;
    background: #EEE9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}

#pfp{
    border-radius: 100%;
    position: absolute;
    top: 120px;
    left: 450px;
    border: 5px solid black, yellow;
    box-sizing: border-box;
    height: 150px;
    width: 150px;
}

#txt{
    position: absolute;
    width: 514px;
    margin-bottom: 10px;
    background: #EEE9E9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
}